@import "../../responsive.scss";

.layout{
    height: 100vh;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;

    @include sm{
        //background-color: red;
        max-width: 640px;
    }
    @include md{
       // background-color: green;
        max-width: 768px;
    }
    @include lg{
       // background-color: yellow;
        max-width: 1280px;
    }

    .content{
        //flex: 1;
        height: calc(100vh - 100px);
    }
}